body {
    margin:0px;
  
}
.section1{
  background-color:purple;
  height:300px;
  text-align:center;
  padding:200px;
}


#mySidenav a {
    margin-top: 50px;
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 20px;
    width: 100px;
    text-decoration: none;
    font-size: 22px;
    color:purple;
    border-radius: 0 5px 5px 0;
    padding-bottom: 30px;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 20px;
    background-color:black;
  }
  
  #blog {
    top: 80px;
    background-color:black;
  }
  
  #projects {
    top: 140px;
    background-color:black;
  }
  
  #contact {
    top: 200px;
    background-color: black;
  }
  .fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background:purple;
    color:black;
  }
  
  /* Twitter */
  .fa-twitter {
    background:purple;
    color:black;
  }
  .fa-whatsapp {
  background:purple;
  color:black;
  
  }
  .fa-github{
    background:purple;
    color:black;
    
  }
  
  
.section2{
  text-align: center;
  height:400px;
  background-color:black;
  color:purple;
  padding: 20px;

}
.section3{
  text-align: center;
  height:400px ;
  background-color:purple;
  padding:20px;
  
}
.section4{
  text-align: center;
  height:400px;
  background-color:black;
  padding:20px;
  color:purple;
  

}
.section5{
  background-color:purple;
  color:black;
  padding:20px;
  height:1000px;
  text-align: center;
}

form {
  border: 3px solid black;
  font-family: Arial;
  background-color:black;
}
.container1 {
  padding: 20px;
  background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color:purple;
  color:black;
  border: none;
  font:20px;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.dot{
  display: flex;
}